<!DOCTYPE html>

<html>
    <style>
        <!-- Load css from /static -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css_breakout.css') }}"> -->
        <link rel="stylesheet" href="../static/css_breakout.css">
    </style>
    <head>
        {% if headline %}
        <title>{{ headline }}</title>
        {% else %}
        <title>Page path</title>
        {% endif %}
    </head>

    <body>
        <button>
            <a href="{{url_for('index_f')}}">Home</a>
        </button>

        <button>
            <a href="{{url_for('nutrient_table')}}">Nutrient Table</a>
        </button>

        <button>
            <a href="{{url_for('nutrient_table_f')}}">Double Nutrient Table</a>
        </button>

        <button>
            <a href="{{url_for('recipe_drop_down')}}">Recipes Dropdown</a>
        </button>

        <button>
            <a href="{{url_for('recipe_wb')}}">Show Recipe w Buttons</a>
        </button>
        <br>

        <button>
            <a href="{{url_for('ingredient_list')}}">Add Ingredients</a>
        </button>
        <br>        
        <h1>{{ headline }}</h1>

        {% block content %}
        {% endblock %}



    </body>
</html>


